<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{ifset title}{include title|stripHtml} | {/ifset}SRP</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{$basePath}/assets/css/materialize.min.css" />
	<link rel="stylesheet" href="{$basePath}/assets/css/theme.css" />
</head>

<body>
	<div id="main-container" class="row">
		<div id="main-menu" class="col s1 center-align">

			<ul>
				<li>
					<a href="#!">
						<i class="material-icons">menu</i>
					</a>
				</li>
				<li n:class="$presenter->isLinkCurrent('Dashboard:default') ? 'active'">
					<a n:href="Dashboard:default" class="tooltipped" data-position="right" data-tooltip="Dashboard">
						<i class="material-icons">dashboard</i>
					</a>
				</li>
				<li n:class="$presenter->isLinkCurrent('User:default') ? 'active'">
					<a n:href="User:default" class="tooltipped" data-position="right" data-tooltip="Správa uživatelů">
						<i class="material-icons">supervisor_account</i>
					</a>
				</li>
				<li>
					<a href="#!">
						<i class="material-icons">new_releases</i>
					</a>
				</li>
				<li n:class="$presenter->isLinkCurrent('Brand:default') ? 'active'">
					<a n:href="Brand:default" class="tooltipped" data-position="right" data-tooltip="Výpis značek">
						<i class="material-icons">local_offer</i>
					</a>
				</li>
			</ul>

		</div>

		<div id="content-wrapper" class="col s11">
			<div id="main-header" class="row">
				<div class="col s6">
					<h1>SRP</h1>
				</div>
				<div id="user-name-wrapper" class="col s3 push-l3 right-align">
					<a n:href="Login:logout" class="btn-logout tooltipped" data-position="bottom" data-tooltip="Odhlásit se">Odhlásit</a> ({$user->getIdentity()->data['username']})
				</div>
			</div>

			<div id="content-title" class="row">
				<div class="col s12">
					{control pageHeader}
				</div>
			</div>

			<div id="content" class="row">
				<div class="col s12">

					{include content}

				</div>
			</div>
		</div>
	</div>

	<script src="{$basePath}/assets/js/materialize.min.js"></script>
	<script src="{$basePath}/assets/js/netteForms.min.js"></script>

	{include __DIR__ . '/flashMessages.latte'}

	<script>
		document.addEventListener('DOMContentLoaded', function()
		{
			M.Tooltip.init(document.querySelectorAll('.tooltipped'));
		});
	</script>
	{block scripts}{/block}
</body>
</html>
