<a n:if="!empty($pageHeader['link'])" href="{plink $pageHeader['link']}" class="btn-back tooltipped" data-position="bottom" data-tooltip="Zpět na dashboard"><i class="material-icons">arrow_back</i></a> {$pageHeader['name']}
