services:
    - App\Router\RouterFactory::createRouter
    - App\service\Authenticator

    # Komponenty
    - App\Components\LoginForm\ILoginFormFactory


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
